.err-msg{
    color:red;
    text-align: center;
    font-size: 18px;
}
.am-tab-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: inherit !important;
}

.sticky-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.am-card-header-content img{
    max-width: 35px;
}

#chat-page .chat-me .am-list-extra{
    flex-basis: auto;
}

#chat-page .chat-me .am-list-content{
    padding-right: 15px;
    text-align: right;
}